@import '../styles/Responsive.scss';
.about-container {
  // width: 70%;
  background-color: $green;
  color: white;
  text-align: left;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.about-title {
  padding: 0 7%;
}
.about-text {
  padding: 0 1%;
  @media screen and (min-width: $big) {
    padding: 0 20%;
  }
  > span {
    font-weight: bold;
  }
}
.about-tech {
  background-color: white;
  color: black;
  padding: 20px;
  margin-top: 7%;
}
.tech-logo-container {
  width: 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.tech-logo {
  color: white;
  object-fit: contain;
  width: 45px;
  margin: 5px;
}
