@import '../styles/Responsive.scss';
.contact-container {
  color: white;
  background-color: black;
  padding: 10% 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  > p {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 45%;
    font-weight: 400;
    @media screen and (max-width: $small) {
      width: 80%;
    }
  }
  .send-button {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: $green;
    width: 37%;
    height: 60px;
    border: none;
    &:hover {
      cursor: pointer;
    }
    @media screen and (min-width: $big) {
      width: 27%;
    }
    @media screen and (max-width: $small) {
      width: 46%;
    }
    > P {
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      padding-top: 2%;
      @media screen and (max-width: $small) {
        padding-top: 4%;
      }
    }
  }
}

.form-emlt {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $small) {
    padding: 0 10%;
  }
  > p {
    color: $green;
    text-transform: uppercase;
    text-align: left;
    font-weight: 800;
    width: 100px;
    margin-right: 10px;
  }
  > input {
    border: none;
    border-bottom: 2px solid $green;
    background: none;
    width: 400px;
    height: 30px;
  }
  > textarea {
    border: none;
    background: none;
    border-bottom: 2px solid $green;
    width: 400px;
    height: 100px;
  }
}
