@import '../styles/Responsive.scss';

.header-container {
  display: flex;
  object-fit: contain;
  height: 470px;
  @media screen and (min-width: $big) {
    padding: 0 20%;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.header-logo {
  object-fit: contain;
  height: 170px;
}
.menu-item {
  cursor: pointer;
  padding: 6px;
  color: rgb(12, 151, 206);
  transition: all 400ms ease-in-out;
  &:hover {
    color: white;
    background-color: rgb(12, 151, 206);
  }
  @media screen and (max-width: $small) {
    display: none;
  }
}
